body {
    padding: 0;
    margin: 0;
}

html, body, #mapid {
    height: 100%;
    font: 8pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

div.legend div {
  width: 150px;
  text-align: left;
}

.leaflet-container {
  background-color: #FFF
}

.icon {
	display: inline-block;
	margin: 2px;
	height: 20px;
	width: 20px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Create a custom radio button */
.radiobtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radiobtn {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radiobtn {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radiobtn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radiobtn:after {
 	top: 5px;
	left: 5px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
}

#dateControls {
  margin-left: 20px;
}
input {
  font: 8pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#specialLegend {
  display:flex;
  align-items:center;
  flex-direction: row;
  margin-top: 5px;
}
.leaflet-tooltip {
  display: none;
}

.leaflet-tooltip.county {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: 15px;
  }

  /* Dashed black border to seperate layer groups */
  hr.layer {
    border-top: .2px dashed grey;
  }
  /* Dashed black border to seperate large groups */
  hr.group {
    border-top: 1.5px solid grey;
  }
