body {
    padding: 0;
    margin: 0;
}

html, body, #mapid {
    height: 100%;
    font: 8pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

div.legend div {
  width: 150px;
  text-align: left;
}

.leaflet-container {
  background-color: #FFF
}

.icon {
	display: inline-block;
	margin: 2px;
	height: 20px;
	width: 20px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Create a custom radio button */
.radiobtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radiobtn {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radiobtn {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radiobtn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radiobtn:after {
 	top: 5px;
	left: 5px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
}

#dateControls {
  margin-left: 20px;
}
input {
  font: 8pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#specialLegend {
  display:flex;
  align-items:center;
  flex-direction: row;
  margin-top: 5px;
}
.leaflet-tooltip {
  display: none;
}

.leaflet-tooltip.county {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: 15px;
  }

  /* Dashed black border to seperate layer groups */
  hr.layer {
    border-top: .2px dashed grey;
  }
  /* Dashed black border to seperate large groups */
  hr.group {
    border-top: 1.5px solid grey;
  }

/* Firestation cluster */
.fsCluster {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #a50f15cc;
  background: #a50f15cc;
}

.fsCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid white;
}

.fs-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.fs-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.fs-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.fs-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Private Schools cluster */
.psCluster {
  border-radius: 50%;
  text-align: center;
  color: black;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #fbeeaccc;
  background: #fbeeaccc;
}

.psCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid black;
}

.ps-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}

.ps-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}

.ps-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}

.ps-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Public Schools cluster */
.pusCluster {
  border-radius: 50%;
  text-align: center;
  color: black;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #e1ad01cc;
  background: #e1ad01cc;
}

.pusCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid black;
}
.pus-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.pus-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.pus-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.pus-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* EOC cluster */
.eocCluster {
  border-radius: 50%;
  text-align: center;
  color: black;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #ffffffcc;
  background: #ffffffcc;
}

.eocCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid black;
}
.eoc-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.eoc-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.eoc-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.eoc-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Shelter cluster */
.shelterCluster {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #8e4785cc;
  background: #8e4785cc;
}

.shelterCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid white;
}
.shelter-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.shelter-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.shelter-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.shelter-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* police cluster */
.policeCluster {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #0000cdcc;
  background: #0000cdcc;
}

.policeCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid white;
}
.police-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.police-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.police-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.police-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Assisted Living - Supervised Living Facilities */
.slCluster {
  border-radius: 50%;
  text-align: center;
  color: black;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #82562acc;
  background: #82562acc;
}

.slCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid black;
}
.sl-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.sl-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.sl-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.sl-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Assisted Living - Nursing Homes */
.nhCluster {
  border-radius: 50%;
  text-align: center;
  color: black;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #ce9b69cc;
  background: #ce9b69cc;
}

.nhCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid black;
}
.nh-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.nh-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.nh-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.nh-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Assisted Living - Housing with Services */
.hwsCluster {
  border-radius: 50%;
  text-align: center;
  color: black;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #e6ccb3cc;
  background: #e6ccb3cc;
}

.hwsCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid black;
}
.hws-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.hws-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.hws-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.hws-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Assisted Living - Boarding Care Homes */
.bchCluster {
  border-radius: 50%;
  text-align: center;
  color: black;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #ffffffcc;
  background: #ffffffcc;
}

.bchCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid black;
}
.bch-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.bch-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.bch-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.bch-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Military Facilities - Federal */
.fedCluster {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #000000cc;
  background: #000000cc;
}

.fedCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid white;
}
.fed-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.fed-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.fed-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.fed-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Military Facilities - Federal */
.fedCluster {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #000000cc;
  background: #000000cc;
}

.fedCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid white;
}
.fed-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.fed-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.fed-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.fed-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Military Facilities - National Guard */
.nationalCluster {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #1a447bcc;
  background: #1a447bcc;
}

.nationalCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid white;
}
.national-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.national-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.national-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.national-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Foodshelves */
.foodshelvesCluster {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #FF0000cc;
  background: #FF0000cc;
}

.foodshelvesCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid white;
}
.foodshelves-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.foodshelves-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.foodshelves-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.foodshelves-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}

/* Testing Locations: Free */
.testingCluster {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #66b3ff;
  background: #66b3ff;
}

.testingCluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid #fff;
}
/* Testing Locations: Other */
.testingClusterOther {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: monospace;
  border: 1px solid #003366cc;
  background: #003366cc;
}

.testingClusterOther:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid #003366cc;
}

.testing-1 {
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 21px;
  margin-top: -10px;
  margin-left: -10px;
}
.testing-2 {
  font-size: 12px;
  height: 30px;
  width: 30px;
  line-height: 31px;
  margin-top: -15px;
  margin-left: -15px;
}
.testing-3 {
  font-size: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: -22px;
  margin-left: -22px;
}
.testing-4 {
  font-size: 12px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  margin-top: -29px;
  margin-left: -29px;
}
